*{
	margin: 0;
	padding: 10;
	font-family: sans-serif;
	border:0;
}

.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(1.jpg);
	background-size:cover;
	background-position: center;
}

.navbar{
	margin: auto;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin:0 20px;
	position: relative;

}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.4s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.logo{
	width: 100px;
	cursor: pointer;
	position:  relative;
}
.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}
.content h1{
	font-size: 70px;
	margin-top: 80px; 
}
.content p{
font-family: sans-serif;
	margin: 10px 100px;
	font-weight: 100;
}